/*div{
	border: 1px solid red;
}*/

main{
	padding: 0em;
}

nav{
	border: 2px solid black;
	height:100vh;
}

#nav-bar{
	margin: 0;
	padding: 0;
}

#dinner-text{
	font-size: 1.5em;
}

#side-bar{
	margin:0em;

	padding: 0em;
}

#content{
	background-color: rgb(223,223,223);
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.7em;
}

#confirm-button{
	margin: 0 auto;
	height: 40px;
	width: 150px;
	background-color: rgb(241,162,89);
	border:2px solid black;
	padding-top: 0.9em;
}

#total-cost{
	margin-top:2em;
	margin-bottom: 2em;
}

#find-dish{
	font-size: 2em;
}

form{
	margin-top: 1em;
}

#values{
	border-bottom: 2px solid black;
}


















