



#find-dish{
	font-size: 2em;
}

form{
	margin-top: 1em;
}

#values{
	border-bottom: 2px solid black;
}


#pictures{
	padding-top: 5em;
}

#img1, #img2, #img3, #img4, #img5{
	border:2px solid black;
}


